/* GOOGLE MAPS */
html, body, .container {
	height: 100%;
	margin: 0;
	padding: 0;
	/*color: red;*/
}

#map-canvas {
	margin: 0;
	padding: 0;
}



/****************************

		NAVIGATION BAR

****************************/

/*#nav {
	width: 100%;
	min-height: 25px;
	text-align: right;
}*/

ul.nav {
	list-style-type: none;
}

ul.nav li {
	display: inline-block;
}


/****************************

	LOGIN AND SIGNUP FORMS

****************************/

#loginFormDiv, #signupFormDiv {
	display: none;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
}
#loginForm, #signupForm {
	padding: 5px 5px 0;
	clear: right;
}

#loginForm input, #signupForm input {
	margin: 0 0 5px;
	display: block;
}


#rememberMeLogin, #rememberMeSignup {
	display: inline-block!important;
}
.rememberMe {
	font-size: small;
	display: inline-block;
}

.forgotPassword {
	font-size: small;
	padding-top: 5px;
}


.closeButton {
	 text-align: right;
	 display: block;
}

.fieldElement, .errorField {
	display: inline-block;
}

.errorField {
	color: red;
	vertical-align: top;
}

#signupErrorMessage, #loginErrorMessage {
	color: red;
	font-size: small;
	padding-top: 5px;
}

.closeButton {
	text-align: left;
	padding-left: 6px;
}
.lightBoxClose {
	padding: 0 5px 5px 0!important;
}


/****************************

		RATING ARROWS

****************************/

#upArrow a:link, #upArrow a:visited {
	color: black;
	text-decoration: none;
}

#downArrow a:link, #downArrow a:visited {
	color: black;
	text-decoration: none;
}


/****************************

		SPECIAL CLASSES

****************************/

.hidden {
	display: none;
}

.btn-arrow, .form-arrow {
	padding: 0!important;
	margin: 0!important;
	border: 0;
	text-align: right;
}


