/* GOOGLE MAPS */
html, body, .container {
	height: 100%;
	margin: 0;
	padding: 0;
	/*color: red;*/
}

#map-canvas {
	margin: 0;
	padding: 0;
}



/****************************

		NAVIGATION BAR

****************************/


ul.nav {
	list-style-type: none;
}

ul.nav li {
	padding-left: 5px;
}

.navbar-btn {
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px!important;
	padding-right: 10px!important;
}

#collapsedNav {
	text-align: center;
}

/****************************

	LOGIN AND SIGNUP FORMS

****************************/

#loginFormDiv, #signupFormDiv {
	display: none;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
}
#loginForm, #signupForm {
	padding: 5px 5px 0;
	clear: right;
}

#loginForm input, #signupForm input {
	margin: 0 0 5px;
	display: block;
}


#rememberMeLogin, #rememberMeSignup {
	display: inline-block!important;
}
.rememberMe {
	font-size: small;
	display: inline-block;
}

.forgotPassword {
	font-size: small;
	padding-top: 5px;
}


.closeButton {
	 text-align: right;
	 display: block;
}

.fieldElement, .errorField {
	display: inline-block;
}

.errorField {
	color: red;
	vertical-align: top;
}

#signupErrorMessage, #loginErrorMessage {
	color: red;
	font-size: small;
	padding-top: 5px;
}

.closeButton {
	text-align: left;
	padding-left: 6px;
}
.lightBoxClose {
	padding: 0 5px 5px 0!important;
}


/****************************

		RATING ARROWS

****************************/

.btn-arrow, .form-arrow {
	padding: 0!important;
	padding-right: 1px!important;
	margin: 0!important;
	border: 0;
	text-align: right;
}

button.btn-arrow.disabled {
	color: gray;
}

.btn-link.upvote {
	
	color: #00A300;
}

.btn-link.upvote:hover {
	color: #00CC00;
}

.btn-link.downvote {
	color: #E60000;
}

.btn-link.downvote:hover {
	color: #FF1919;
}


/****************************

		SPECIAL CLASSES

****************************/

.hidden {
	display: none;
}




