/* GOOGLE MAPS */
html, body, .container {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FAFEFA!important;
	font-family: "Open Sans", sans-serif!important;
	/*color: #BCE9FE!important;*/

}

#map-canvas {
	margin: 0;
	padding: 0;
}

.modal-content {
	color: black;
}

#attraction_id {
	margin-bottom: 10px;
	margin-right: 5px;
	/*background-color: red;*/
	border-radius: 5px;
}
.styledSelect select {
	background: transparent;
	width: 175px;
	height: 30px;
	padding: 5px;
	font-size: 14px;
	border: 0!important;
	-webkit-appearance: none;
	display: inline-block;
}

.styledSelect {
	width: 150px;
	height: 30px;
	overflow: hidden;
	background: url("chevron_down2.png") no-repeat right;
	border-radius: 5px;
	border: 1px solid #CCC;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 0;
}

.styledSelect:hover {
		background: url("chevron_down1.png") no-repeat right;
}

#checkinForm {
	padding-left: 1px!important;
}

.modal-header {
	background-color: #7BAF7E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	color: white;
}

/****************************

		TRUCK LINKS

****************************/

.attractionFocus {
	/*color: #62C9FA!important;*/
	color: #3B623E!important;
	/*color: #623145!important;*/
	
}
.attractionFocus:hover {
	color: #7BAF7E!important;
	text-decoration: none!important;
}



/****************************

		NAVIGATION BAR

****************************/

/********************/
/*		LINKS		*/
/********************/

ul.nav {
	list-style-type: none;
	margin: 0;
}

ul.nav li {
	padding-left: 5px;
}

.navbar-btn {
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px!important;
	padding-right: 10px!important;
	margin: 0!important;
	color: white!important;
	display: block!important;
	line-height: 40px!important;
	min-height: 40px!important;
}

.navbar-btn:hover {
	/*background-color: #C9FBCC!important;*/
	/*color: #2E343E!important;*/
	background-color: #623145!important;
	text-decoration: none!important;

}

#collapsedNav {
	text-align: center;
}

.navbar-toggle {
	border: none!important;
	/*background-color: #BCE9FE!important;*/
	/*background-color: #BCD7FD!important;*/
	/*background-color: white!important;*/
}
.icon-bar {
	background-color: white!important;
}

.navbar-toggle:hover {
	background-color: #7BAF7E!important;
}

#helpButton {
	margin: auto!important;
	/*color: #623145!important;*/
}

#helpButton:hover {
	
}

#logoutButton {
	margin: auto!important;
}

/*********************/
/* NAVBAR APPEARANCE */
/*********************/

.navbar {
	/*background-color: #4EA0C7!important;*/
	background-color: #7BAF7E!important;
	border: none!important;

}

.navbar-brand {		
	color: white!important;
	font-family: "Gloria Hallelujah", sans-serif!important;
	font-size: 20pt!important;
}

/*map colors*/
/*green = #D1E2B5*/
/*blue = #BCD7FD*/





/****************************

	LOGIN AND SIGNUP FORMS

****************************/

#loginFormDiv, #signupFormDiv {
	display: none;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
}
#loginForm, #signupForm {
	padding: 5px 5px 0;
	clear: right;
}

#loginForm input, #signupForm input {
	margin: 0 0 5px;
	display: block;
}


#rememberMeLogin, #rememberMeSignup {
	display: inline-block!important;
}
.rememberMe {
	font-size: small;
	display: inline-block;
}

.forgotPassword {
	font-size: small;
	padding-top: 5px;
}


.closeButton {
	 text-align: right;
	 display: block;
}

.fieldElement, .errorField {
	display: inline-block;
}

.errorField {
	color: red;
	vertical-align: top;
}

#signupErrorMessage, #loginErrorMessage {
	color: red;
	font-size: small;
	padding-top: 5px;
}

.closeButton {
	text-align: left;
	padding-left: 6px;
}
.lightBoxClose {
	padding: 0 5px 5px 0!important;
}






/****************************

		RATING ARROWS

****************************/

.btn-arrow, .form-arrow {
	padding: 0!important;
	padding-right: 1px!important;
	margin: 0!important;
	border: 0;
	text-align: right;
}

button.btn-arrow.disabled {
	color: gray;
}

.btn-link.upvote {
	
	color: #00A300;
}

.btn-link.upvote:hover {
	color: #00CC00;
}

.btn-link.downvote {
	color: #E60000;
}

.btn-link.downvote:hover {
	color: #FF1919;
}

.help-glyph-up {
	color: #00A300!important;
}

.help-glyph-down {
	color: #E60000!important;
}


/****************************

		SPECIAL CLASSES

****************************/

.hidden {
	display: none;
}

.attractionFocus.btn {
	padding: 0;
}

.panel-list{
	list-style-type: none;
	padding-left: 0;
}






/****************************

	CHECKBOXES & DISPLAY	

****************************/


.checkbox.row {
	/*background-color: #C9FBCC!important;*/
	background-color: #CCFFCF!important;
	padding: 10px;
	padding-left: 15px;
	margin: auto;
}

#checkinForm {
	/*background-color: #C9FBCC!important;*/
	padding: 15px;
	margin-bottom: -10px!important;
}

#checkinButton, .btn-default {
	background-color: #623145!important;
	color: white!important;
}

#checkinButton:hover, .btn-default:hover {
	background-color: #AF7B8F!important;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: inline-block;
	width: 15px;
	padding: 0;
	margin-right: 5px!important;
	margin-left: -10px;
	/*vertical-align: middle;*/
	/*cursor: pointer;*/
}

input[type="checkbox"] + label span.unchecked {
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	cursor: pointer;
	background-color: white;
	border-radius: 2px;
	border: 1px #AEF4B2 solid;
}

input[type="checkbox"] + label span.check-glyph {
	display: none;
	width: 0;
	height: 0;
}

input[type="checkbox"]:checked + label span.check-glyph {
	display: inline-block;
	vertical-align: top;
	color: #5D9C61;
	font-size: 9pt!important;
}

#savePreferences {
	margin-left: -18px!important;
	margin-bottom: 10px;
}













