<!DOCTYPE html>

<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

</head>
<body>

<div id="checkinBox">
	<form id="checkinForm" role="form">
		<select name="attraction_id" id="attraction_id">
			<option value="1">Truck1</option>
			<option value="2">Truck2</option>
			<option value="3">Truck3</option>
		</select>
		<button id="checkinButton" type="button">Checkin Location</button>
	</form>
</div>
<div id="map-canvas"></div>


<script src="static/jquery-1.11.0.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}"></script>
<script src="static/map.js"></script>

<!-- old school client location -->
<script src="https://www.google.com/jsapi"></script>

</body>
</html>