<!DOCTYPE html>

<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

</head>
<body>

	<div id="nav">
		{% if session.get("user_id", False) %}
			{{ g.user.username }}
			<form action="/logout">
				<button type="submit" id="logoutButton">Logout</button>
			</form>

		{% else %}
			<button id="loginOpenButton">Login</button>
			<button id="signupOpenButton">Signup</button>
		{% endif %}

		<!-- Light Box content -->
		<div id="loginFormDiv">
			<div class="closeButton"><button class="lightBoxClose">X</button></div>
			<form id="loginForm" name="loginForm">
				<div>
					<div class="fieldElement"><input type="text" id="loginEmail" name="email" placeholder="email"></div>
					<span class="errorField hidden" id="emailEF">*</span>
				</div>
				<div>
					<div class="fieldElement"><input type="password" id="loginPassword" name="password" placeholder="password"></div>
					<span class="errorField hidden" id="passwordEF">*</span>
				</div>
				<button id="loginButton">Login</button>
				<div id="loginErrorMessage"></div>
			</form>
		</div>

		<div id="signupFormDiv">
			<div class="closeButton"><button class="lightBoxClose">X</button></div>
			<form id="signupForm" name="signupForm">
				<div>
					<div class="fieldElement"><input type="text" id="username" name="username" placeholder="username"></div>
					<span class="errorField hidden" id="usernameEF">*</span>
				</div>
				<div>
					<div class="fieldElement"><input type="text" id="signupEmail" name="email" placeholder="email"></div>
					<span class="errorField hidden" id="signupEmailEF">*</span>
				</div>
				<div>
					<div class="fieldElement"><input type="password" id="signupPassword" name="password" placeholder="password"></div>
					<span class="errorField hidden" id="signupPasswordEF">*</span>
				</div>
				<div>
					<div class="fieldElement"><input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="retype password"></div>
					<span class="errorField hidden" id="passwordConfirmEF">*</span>
				</div>

				<button id="signupButton">Signup</button>
				<div id="signupErrorMessage"></div>
			</form>
		</div>
	</div>


	<div id="checkinBox">
		<form id="checkinForm">
			<select name="attraction_id" id="attraction_id">
				{% for attraction in attractions %}
				<option value="{{ attraction.id }}">{{ attraction.name }}</option>
				{% endfor %}
			</select>
			<button id="checkinButton" type="button">Checkin Location</button>
		</form>
	</div>

	<div id="attractionOptions">
		<form id="optionsForm" action="/save_preferences" method="POST">
			{% for attraction in attractions %}

				<!-- If user is signed in and has saved preferences -->
				{% if session.get("user_id", False) and g.user.preferences != {}%}

						<!-- user has checked this attraction -->
						{% if g.user.preferences[attraction.id] %}
							<input type="checkbox" id="{{attraction.id}}" name="attractionsDisplayed" value="{{attraction.id}}" checked>{{attraction.name}}<br>
						{% else %}
							<input type="checkbox" id="{{attraction.id}}" name="attractionsDisplayed" value="{{attraction.id}}">{{attraction.name}}<br>
						{% endif %}

				<!-- no user or user has no preferences -->
				{% else %}  
					<input type="checkbox" id="{{attraction.id}}" name="attractionsDisplayed" value="{{attraction.id}}" checked>{{attraction.name}}<br>
				{% endif %}

			{% endfor %}

			<!-- SHOW OLD CHECKINS -->
			{% if session.get("user_id", False) and g.user.preferences["show_old"] %}
				<input type="checkbox" id="showOldCheckins" name="showOldCheckins" value="True" checked>Show Old Checkins<br>
			{% else %}
				<input type="checkbox" id="showOldCheckins" name="showOldCheckins" value="True">Show checkins older than 1 day<br>
			{% endif %}

			<!-- SHOW CHECKINS WITH BAD RATINGS -->
			{% if session.get("user_id", False) and g.user.preferences["show_bad"] %}
				<input type="checkbox" id="showBadRatings" name="showBadRatings" value="True" checked>Show checkins with bad ratings<br>
			{% else %}
				<input type="checkbox" id="showBadRatings" name="showBadRatings" value="True">Show checkins with bad ratings<br>
			{% endif %}

				

			{% if session.get("user_id", False) %}
				<button type="submit" id="savePreferences">Save Preferences</button>
			{% endif %}
		</form>
	</div>


	<div id="map-canvas"></div>


	<!-- JAVASCRIPT -->

	<script src="static/jquery-1.11.0.min.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}"></script>
	
	<script src="static/map.js"></script>
	<script src="static/login.js"></script>

	<!-- Time ago -->
	<script src="static/jquery.timeago.js"></script>

	<!-- login lightbox -->
	<script src="static/jquery.lightbox_me.js"></script>

</body>
</html>