

{% extends "base.html" %}
{% block body %}
	<!-- login lightbox -->
	<h2>Forgot your password?</h2>
	<p>No worries!  Just enter the email address for your account, and we'll send you an email with instructions on how to reset your password.</p>

	<form action="/recover_password" method="POST">
		<input type="email" name="recoveryEmail" id="recoveryEmail" placeholder="your email address">
		<button id="recoverPasswordButton" type="submit" class="btn my-btn">Send</button>
		<a href="/" class="btn btn-default">Cancel</a>
	</form>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<ul class="flashes">
		<li>{{message}}</li>
	</ul>
	{% endfor %}
	{% endif %}
	{% endwith %}


{% endblock %}
