

{% extends "base.html" %}
{% block body %}
	<!-- login lightbox -->
	<h2>Forgot your password?</h2>
	<p>No worries!  Just enter the email address for your account, and we'll send you an email with instructions on how to reset your password.</p>

	<form action="{{ url_for('forgot_password') }}" method="POST">
		{{ form.email.label }}: {{ form.email(placeholder="Your email") }} 

		{{ form.csrf_token }}

		<input type="submit" class="btn my-btn" id="recoverPasswordButton" value="Send">
	    <a href="/" class="btn btn-default">Cancel</a>


	</form>

	{% if form.errors %}
	    <ul class="error">
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <li>{{ form[field_name].label }}: {{ error }}</li>
	            {% endfor %}
	        {% endfor %}
	    </ul>
	{% endif %}

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<ul class="flashes error">
		<li>{{message}}</li>
	</ul>
	{% endfor %}
	{% endif %}
	{% endwith %}


{% endblock %}
