{% extends "base.html" %}
{% block body %}

	<h2>Reset password</h2>

	<form action="{{ url_for('reset_with_token', token=token) }}" method="POST">
	    <div class="passwordFormLabel">
	    	{{ form.password.label }}: 
    	</div>
    	{{ form.password(placeholder="New password") }}
    	
    	{% if form.password.errors %}
        	<ul class="errors">{% for error in form.password.errors %}
        		<li>{{ error }}</li>{% endfor %}
        	</ul>
    	{% endif %}<br>

	    <div class="passwordFormLabel">
	    	{{ form.confirm.label }}: 
    	</div>
    	{{ form.confirm(placeholder="Confirm new password") }}
	    
	    {% if form.confirm.errors %}
        	<ul class="errors">{% for error in form.confirm.errors %}
        		<li>{{ error }}</li>{% endfor %}
        	</ul>
    	{% endif %}<br>

	    {{ form.csrf_token }}
	    <div class="resetPassword">
		    <input type="submit" class="btn my-btn" value="Reset my password" />
		    <a href="/" class="btn btn-default">Cancel</a>
		</div>
	</form>

{% endblock %}